@charset "utf-8";
/* 초기화 */
 html, body, div, header, nav, section, aside, article, footer, figure, figcaption,fieldset,
legend, ul, ol, li, dl, dt, dd, h1, h2, h3, p, img{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
/* 기본스타일 */
@font-face {
    font-family: "GothicA1";
    src: url("../font/GothicA1-Light.ttf")format("truetype");
}
@font-face {
    font-family: "GothicA1B";
    src: url("../font/GothicA1-Bold.ttf")format("truetype");
}
@font-face {
    font-family: "GothicA1Ex";
    src: url("../font/GothicA1-ExtraBold.ttf")format("truetype");
}
a:link{
    color: #4f4f4f;
    text-decoration: none;
 }
 a:visited{
    color: #8a8e91;
    text-decoration: none;
 }
 a:hover, a:focus{
    color: #08852B;
    text-decoration: none;
 }
 body{
    
    font-family: "GothicA1";
    background-color: #fff;
    font-size: 0.75em;
    line-height: 1.2;
 }
 /* 건너뛰기 링크 */
 #skipNav{
    position: absolute;
    left: -9999px;
 }
 #skipNav:focus{
    left: 0;
    padding: 5px 15px;
    background-color: #000;
    color: #fff;
    z-index: 10;
 }
 /* 전체적인 레이아웃 설계 */
 html, body {
    margin: 0;
    padding: 0;
    height: 100%;
 }

 /* Header 영역 */
 #header{
    width: 100%;
    height: 120px;
    position: relative;
    background-image: linear-gradient(to right,#BFF304 0%, #0A8616 100%);
   
 }
 
 /* 로고 영역 */
.logo{
    display: inline-block;
    width: 80px;
    height: 50px;
    padding: 50px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 50%;
    top: 5px;
    transform:translateX(-50%);
}
/* 유틸리티 영역 */
.utility{
    position: absolute;
    right: 0%;
    bottom:  5px;
    margin: 20px;
}
.utility li, .utility a{
    display: inline-block;
}
.utility a{
    font-family: "GothicA1B";
    padding : 20px 5px 5px 5px;
    color: #fff;
}
.utility a::before{
    content: "|";
    margin-right: 10px;

}
.utility li:first-child ::before{
    content: " ";
}
/* main_content영역 */
#main_content{
    display: flex;
    flex-direction: row;
    height: 100%;
}
/* 회원가입영역 */
.joinArea{
    flex-basis: 72%;
    position: relative;
}
.joinMember{
    position: absolute;
    right: 155px;
    top: 200px;
    width: 30vw;
    height: 60vh;
    line-height: 2;
}
.joinMember_title{
    font-family: "GothicA1Ex";
    font-size: 1.8em;
    line-height: 2;
    color: #03384B;
}
.joinMember_message{
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.2;
    background: linear-gradient(to right, #52BC02 0%, #03384B 74%);
    color: transparent;
    -webkit-background-clip: text;
    transition: all 2s linear;

}
.joinMember_message:hover{
    background:  linear-gradient(to right, #185F35, #41A110 74%);
    color: transparent;
    -webkit-background-clip: text;
}

.joinMember_form_item{
    padding-top: 5px;
    display: grid;
    grid-template-columns : repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
}

.joinMember .label{
    display: inline-block;
    font-size: 1.4em;
    grid-column: 1 / 2 ;
    grid-row: 1 / 2;
}

.joinMember .label.exceptGrid{
    grid-column: 1 / 3 ;
    grid-row: 1 / 2;
}

.joinMember .sideFunction{
    display: inline-block;
    padding-top: 6px;
    display: inline-block;
    grid-column: 4 / 5 ;
    grid-row: 1 / 2;
    text-align: right;
    margin-right: 8px;
}

.joinMember .sideFunction.exceptGrid{
    grid-column:  3 / 5 ;
    grid-row: 1 / 2;
    text-align: right;
    margin-right: 10px;
}

.joinMember input{
    grid-column: 1 /5  ;
    grid-row: 2 / 3;
    padding: 5px ;
    border-color: #ccc;
    border-radius: 5px;
}
.joinMember .checkID{
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: #08852B;
    padding-left: 35px;

}
.joinMember  select{
    box-sizing: border-box;
    padding: 5px ;
    margin-right: 5px;
    border-color: #ccc;
    border-radius: 5px;
}
.joinMember #cList{
    grid-column: 1 /3  ;
    grid-row: 2 / 3;
}
.joinMember #detailCList{
    grid-column: 3 /5  ;
    grid-row: 2 / 3;
}
.joinArea .btnComplete{
    padding: 30px 0;
    text-align: right;
}
.joinArea .btnComplete button{
    width: 130px;
    padding: 8px;
    background: transparent;
    border: 2px solid #08852B;
    border-radius: 30px;
    color: #08852B;
    cursor: pointer;
}


/* 메인이미지영역 */
.imgArea{
    flex-basis: 38%;
    background-image: url(../images/join/joinMain1.jpg) ;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    width: 100%;
    height: 100%;
}


